.movieContainer > h2 {
  padding: 0rem 0rem 0rem 2.5rem;
}
.reviewContainer > h2 {
  padding: 0rem 0rem 0rem 2.5rem;
}

.container {
  /* display: flex;
  flex-direction: column; */
  width: 100%;
  height: 100%;
  color: var(--text-color);
}

/* 리뷰리스트 */
.reviewContainer {
  padding: 1rem 2rem 1.5rem 2rem;
  display: flex;
  flex-direction: column;
}

.reviewBox {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.reviewContainerInner {
  position: relative;
  flex: 1 1;
  padding: 0.5rem;
  box-sizing: border-box;
  overflow-x: auto;
  overflow-y: hidden;
}

.slideWrapper {
  display: grid;
  grid-auto-columns: 23rem;
  grid-auto-flow: column;
  gap: 2vw;
}

.moveLeftBtn {
  padding: 1rem;
  width: 3rem;
  height: 11rem;
  border: none;
  background: none;
  color: var(--text-color);
  cursor: pointer;
}

.moveRightBtn {
  padding: 1rem;
  width: 3rem;
  height: 11rem;
  border: none;
  background: none;
  color: var(--text-color);
  cursor: pointer;
}

.moreView {
  width: 3rem;
  height: 2rem;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background-color: var(--sub-color);
  text-align: center;
  padding: 5rem 3rem;
  cursor: pointer;
}

/* 영화리스트 */
.movieContainer {
  padding: 1rem 2rem;
}

.movieBox {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.movieContainerInner {
  position: relative;
  padding: 0.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 2vw;
}

.moviePoster {
  position: relative;
  display: grid;
  justify-items: center;
}

.moviePoster > a > img {
  width: 220px;
  height: 325px;
  object-fit: cover;
}

.moviePoster > label {
  font-size: 18px;
  text-align: center;
}

.moviePoster > div {
  font-size: 12px;
  text-align: center;
}

.moviePoster > span {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  margin: 6px;
  text-align: center;
  border-radius: 2px;
  color: var(--profile-settings-color);
  background-color: rgba(255, 255, 255, 0.8);
}

.moviePoster .stars {
  top: 282px;
  left: 176px;
  width: 35px;
  font-size: xx-small;
}

.movieTitle {
  display: block;
  text-align: center;
  width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
