.container {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

.mainContainer {
  padding: 20px;
}

.movieContent {
  display: flex;
}

.posterContainer {
  width: 100%;
  max-width: 390px;
  min-height: 460px;
  max-height: 460px;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 20px;
  margin-bottom: 20px;
}

.poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rightContainer {
  flex: 2;
  height: 100%;
}

.movieInfo {
  padding: 20px;
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.topSection {
  display: flex;
  justify-content: space-between;
}

.titleBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.titleContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 5px;
  cursor: default;
}

.title {
  font-size: 2rem;
  display: block;
  width: 480px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.introductionBox {
  height: 80px;
  max-height: 80px;
  overflow-y: auto;
}

.introduction {
  overflow-y: auto;
  max-height: 80px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
}

.reviewButton {
  margin: 0 10px;
}

.heartButton,
.reviewButton {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

.castAndCrew {
  margin-top: 10px;
}

.castList {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  margin-top: 5px;
}

.castItem {
  width: 100px;
  height: 155px;
  display: flex;
  flex-direction: column;
  background-color: var(--text-color);
  border-radius: 10px;
  white-space: nowrap;
  color: #333;
  border: 1px solid var(--text-color);
  box-sizing: border-box;
  overflow: hidden;
}

.castImg {
  height: 100px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.role {
  padding: 4px;
  display: flex;
  flex-direction: column;
}

.ratings {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.ratings p {
  color: var(--text-color);
  margin-bottom: 5px;
}

.reviewContainer {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
  gap: 20px;
}

.reviewContainer::-webkit-scrollbar {
  display: none;
}

.seeMore {
  min-width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seeMore span {
  background-color: var(--sub-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 10px;
}

.cinephile,
.levelTen,
.allUser {
  display: flex;
  flex-direction: column;
  align-items: center;
}
