.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.7vh;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);
}

.logo {
  margin: 0;
  height: 38px;
  color: var(--text-color);
}

.signBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.rightMenu {
  display: flex;
  gap: 3vw;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menuLink {
  color: var(--text-color);
  margin: 10px 20px;
  text-decoration: none;
  background-color: var(--background-color);
  border: 0;
  cursor: pointer;
  font-size: large;
}
.signBtn {
  color: var(--text-color);
  margin: 10px 20px;
  text-decoration: none;
  background-color: var(--background-color);
  border: 0;
  cursor: pointer;
  font-size: medium;
}

.searchField {
  background-color: var(--sub-color);
  border-radius: 4px;
}

.searchBtn {
  background: none;
  border: 0;
  cursor: pointer;
}

.searchIcon {
  color: var(--point-color);
  background-color: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px #101418 inset;
  box-shadow: 0 0 0px 1000px #101418 inset;
  transition: background-color 5000s ease-in-out 0s;
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px #101418 inset;
  box-shadow: 0 0 0px 1000px #101418 inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* 로그인 했을 때 */

.myInfoBox {
  display: flex;
  justify-content: center;
  width: 11.8rem;
}

.myInfoBtn {
  padding: 0.3rem;
  width: fit-content;
  height: 2.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.infoImg {
  width: 33px;
  height: 33px;
  border-radius: 18px;
  margin-right: 7px;
}

.myName {
  font-size: larger;
  margin-left: 6px;
}
.mybadge {
  font-size: medium;
  margin: 8px;
}

/* media */
/* 뷰크기가 1130px 이하일 때 */
@media (max-width: 900px) {
}
