.container {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

.reviewsContainer {
  padding: 1rem 4rem 1rem 4rem;
  display: flex;
  flex-direction: column;
}

.title {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.title > h4 {
  font-size: larger;
  padding: 0;
}

.reviewBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;

  /* width: 100%; */
}

/* 뷰크기가 1130px 이하일 때 */
@media (max-width: 1160px) {
  .reviewBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* 뷰크기가 1600px 이상일 때 */
@media (min-width: 1600px) {
  .reviewBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
