.container {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}
.contentsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.reviewsContainer {
  padding: 1rem;
  width: 1000px;
}

.title {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 1000px;
}

@media (max-width: 1035px) {
  .reviewsContainer {
    padding: 0;
    width: 100%;
  }
  .contentsContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .title {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.title > h4 {
  font-size: larger;
  padding: 10px;
  height: 0px;
}

.reviewBox {
  display: grid;
  grid-template-columns: 1fr;
}

/* 뷰크기가 1130px 이하일 때 */
/* @media (max-width: 1160px) {
  .reviewBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}*/

/* 뷰크기가 1600px 이상일 때 */
/*@media (min-width: 1600px) {
  .reviewBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
} */
